---
http_interactions:
- request:
    method: post
    uri: https://dummy.cloudfunctions.net/interface?model=classification_diags&url=https://www.webhookdummyurl.com
    body:
      encoding: UTF-8
      string: '{"instances":[{"url":"https://test.pdf","doc_id":1}]}'
    headers:
      Authorization:
      - Bearer fake
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Function-Execution-Id:
      - qlmoqp6tu2nu
      X-Cloud-Trace-Context:
      - 02ab7582fd8f9f16903bb6870ee6d67e;o=1
    body:
      encoding: UTF-8
      string: '{"status":"OK"}

        '
  recorded_at: Tue, 20 Apr 2021 08:37:53 GMT
recorded_with: VCR 6.0.0
